{{outlet}}

<h1>My Favorite Recipes</h1>

<button type="button" class="btn btn-secondary btn-lg">{{#link-to 'favorites.new'}}Add Favorite{{/link-to}}</button>

{{#each model as |favorite|}}
  <div class="well">
    <h4>{{#link-to 'favorites.edit' favorite.id}}{{favorite.title}}{{/link-to}}</h4>
    <button {{action 'deleteTask' favorite.id}} class="btn btn-danger">Delete</button>
  </div>
{{/each}}
