<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Search:</label>
    {{input class="form-control" value=query placeholder="chicken"}}
    <label>
      Allergens:
      {{list-to-list
        items=model.allergens
        placeholder='Add allergen...'
        addedItems=allergens
      }}
    </label>
    <button {{action 'search'}} class="btn btn-primary">Search</button>
  </div>
</form>

{{outlet}}
